<section class="eleventy-globals">
	<h2>Eleventy global</h2>
	<dl>
		<dt>eleventy.version</dt>
		<dd>{{ eleventy.version }}</dd>
		<dt>eleventy.generator</dt>
		<dd>{{ eleventy.generator }}</dd>
		<dt>eleventy.env.runMode</dt>
		<dd>{{ eleventy.env.runMode }}</dd>
		<dt>eleventy.env.source</dt>
		<dd>{{ eleventy.env.source }}</dd>
		<dt>eleventy.directories.input</dt>
		<dd>{{ eleventy.directories.input }}</dd>
		<dt>eleventy.directories.includes</dt>
		<dd>{{ eleventy.directories.includes }}</dd>
		<dt>eleventy.directories.output</dt>
		<dd>{{ eleventy.directories.output }}</dd>
	</dl>
</section>
