<div class="filters-demo">
	<span data-shout>{{ shoutInput | shout }}</span>
	<span data-stamp>{{ stampInput | stamp }}</span>
	<span data-async-reverse>{{ shoutInput | asyncReverse }}</span>
	<span data-readme-size>{{ "" | readmeSize }}</span>
	<span data-doubler>{{ doublerInput | doubler }}</span>
	<span data-slug>{{ slugInput | slug }}</span>
</div>
