<div class="globals-demo">
	<span data-eleventy-version>{{ eleventy.version }}</span>
	<span data-eleventy-generator>{{ eleventy.generator }}</span>
	<span data-eleventy-runmode>{{ eleventy.env.runMode }}</span>
	<span data-pkg-name>{{ pkg.name }}</span>
	<span data-pkg-version>{{ pkg.version }}</span>
	<span data-env-node>{{ env.NODE_ENV }}</span>
	<span data-env-site>{{ env.PUBLIC_SITE_NAME }}</span>
</div>
